* {
    margin: 0;
    padding: 0;
}

:root {
    --beige: #F2EFDC;
    --brown: #837E72;
    --black: #160F09;
    --darkbrown: #4C463D;
    --red: #9E3838;
    --blue: #3264AD;
    --green: #567D49;
}

.header {
    background: var(--black);
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(242, 239, 220, 0) 50%, rgba(242, 239, 220, 0.3) 90%), url(/assets/images/Signupbackground.jpg);
    background-position: 10% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 450px;
    color: var(--beige);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: var(--beige);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: end;
}

.input-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: end;
}

.logH1 {
    text-align: end;
    transform: translate(-16%);
    margin-bottom: 50px;
    color: var(--beige);
    font-size: 48px;
}

.sigH1 {
    text-align: end;
    transform: translate(-11%);
    margin-bottom: 50px;
    color: var(--beige);
    font-size: 48px;
}

#email {
    width: 400px;
    height: 56px;
    margin-bottom: 40px;
    background-color: var(--beige);
    border-radius: 4px 4px 0 0;
}

#password {
    width: 400px;
    height: 56px;
    margin-bottom: 10px;
    background-color: var(--beige);
    border-radius: 4px 4px 0 0;
}

.sgnUp {
    margin-bottom: 50px;
    color: var(--beige);
}

.sgnUp a {
    text-decoration: underline;
    color: var(--beige);
}

.text-box p {
    font-size: 20px;
}

.text-box h1 {
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--beige);
}

.log-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--beige);
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 88px;
    height: 36px;
}

.log-btn:hover {
    color: var(--darkbrown);
    background-color: var(--beige);
    border: 1px solid var(--beige);
}

.sig-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--darkbrown);
    border: 1px solid var(--beige);
    border-radius: 4px;
    background-color: var(--beige);
    font-size: 18px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 88px;
    height: 36px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--darkbrown);
    border: 1px solid var(--beige);
    border-radius: 4px;
    background-color: var(--beige);
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 400px;
    height: 62px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    right: 5%;
    color: var(--beige);
}

.grid-container {
    display: grid;
    border: none;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.bookItem{
    background-color: var(--beige);
    border-radius: 4px;
    width: 398px;
    height: 292px;
}

.sideNav{
    float: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    color: var(--beige);
    text-decoration: none;
}

.sideNav a{
    color: var(--beige);
    text-decoration: none;
}

.tableBooks{
    margin-left: 18%;
    margin-right: 2%;
    background-color: var(--beige);
    border-radius: 4px;
    color: var(--darkbrown);
    text-decoration: none;
}

th, td{
    border-bottom: 1px solid var(--darkbrown);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--beige);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 4px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-div{
    display: flex;
    flex-direction: column;    
}

.errorMessage {
    color: red;
}



.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.display-none {
    display: none;
}

#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }